[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/products/P7/*"
  to = "/products/p7/:splat"
  status = 301

[[redirects]]
  from = "/products/p12_marketing/*"
  to = "/products/p12/:splat"
  status = 301

[[redirects]]
  from = "/journey"
  to = "/products/p1"
  status = 302

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "origin-when-cross-origin"

[[headers]]
  for = "/_next/static/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
